@page
@model GinasioIsla.Pages.Inscricoes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inscricao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.Aluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Aluno.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao.Modalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao.Modalidade.ModalidadeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inscricao?.InscricaoID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
